.introMeetup{}
.introMeetup img{
  border: 0;
  width: 500px;
  background: none;
}
.footer{
  float: left;
  bottom: 0;
  text-align: left;
  margin: 150px 0 0 0;
}
.footer p{
  line-height: 1;
  margin: 0;
}
